# Ignore node_modules
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore log files
*.log

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore Python bytecode
*.pyc

#Ignore .env file 
*.env